spring:
  application:
    name:
      ding-search-backend
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:
    username:
    password:
  profiles:
    active: local
server:
  port: 12345
  servlet:
    context-path: /api